 * { 
        font-family: 'roboto' , sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .cabecalho-link {
            text-decoration: none;
            color: black;
            font-size: 0.8rem;
            padding: 1rem;
     }

    .cabecalho-navegacao {
         display: flex;
         justify-content: center;
         gap: 1rem;
         align-items: center;
         height: 7.5%;
     }
     .cabecalho-icone {
         padding: 1rem;
     }

     .cabecalho { 
         height: 90vh;
        }

        .cabecalho-carrosel { 
            background-image: url(https://github.com/unifiltech/apple-landing-page/blob/main/apple-event.jpg?raw=true);
            background-size: cover;
            background-position: center;
            height: 92.5%;
        }